html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
#btn{
  position: absolute;
  text-align: center;
  top:860px;
  display: flex;
  width:860px;
  justify-content: space-between;
}
